@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-secondary: #08060d;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}
